// COLORS
$primary-color: #ffb347;
$secondary-color: #ffcc33;

$white-color: #fff;

$dark-grey: #414345;

$dark-blue-text: #54535a; // For Headings

// FONT SIZE
$default-font-size: 2.4rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
$navbar-brand-font-size: 3.5rem;
$img-font-size: 2rem;
